<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ncovi"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".View.SharedPreference.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NCOVI">
        <activity
            android:name=".View.Activity.KhaiBaoTuNguyenActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.QRCodeActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.NewQRCodeActivity"
            android:exported="true" /> <!-- <activity -->
        <!-- android:name=".View.Activity.MapBoxActivity" -->
        <!-- android:exported="true" /> -->
        <activity
            android:name=".View.Activity.TheWorldActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.PhongDichActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".View.Activity.ThongTinCaNhanActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.ShowAllSucKhoeActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.OTPActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.InformationActivity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.Home"
            android:exported="true" />
        <activity
            android:name=".View.Activity.OnBroadingMain_Activity"
            android:exported="true" />
        <activity
            android:name=".View.Activity.OnbroadingView_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Class.Capture"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_map" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name=".Class.NetworkConnected.NetworkConnect" />
    </application>

</manifest>